*{
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dashboard-wrapper{
  margin-top: 5%;
  width: 20%;
  height: 80vh;
  background-color: #eef3f4;
  border: solid 3px #47BED8;
  border-radius: 15px;
  display: flex;
}

.dashboard-items-container{
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}